<mat-card class="mt-2 w-100">

  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon class="card-header">drafts_outlined</mat-icon>
    </div>
    <mat-card-title>Read message</mat-card-title>
    <mat-card-subtitle>{{ id$ | async }}</mat-card-subtitle>
  </mat-card-header>

  <p *ngIf="paramsMissing$ | async">Parameters invalid!</p>

  <div class="mt-2 d-flex justify-content-center" *ngIf="loading$ | async">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>

  <form [formGroup]="form" (ngSubmit)="getMessage()" *ngIf="showPasswordForm$ | async">
    <mat-card-content>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Area51…" formControlName="password">
        <mat-icon matSuffix>vpn_key</mat-icon>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions class="my-0 p-0 d-flex">
      <div class="flex-grow-1"></div>
      <button mat-raised-button type="submit" color="primary" icon="lock_open">View message</button>
    </mat-card-actions>
  </form>

  <mat-form-field class="my-0 w-100" appearance="outline" *ngIf="message$ | async as msg">
    <mat-label>Message</mat-label>
    <textarea matInput rows="4" readonly [value]="msg"></textarea>
  </mat-form-field>

  <app-error-card [error]="error$ | async"></app-error-card>

</mat-card>
