<ng-template #message>
  <mat-form-field class="my-0 w-100" appearance="outline">
    <mat-label>Message</mat-label>
    <textarea matInput rows="4" readonly value="{{ clearMessage || '' }}"></textarea>
  </mat-form-field>
</ng-template>

<mat-card class="mt-2 w-100">

  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon class="card-header">drafts_outlined</mat-icon>
    </div>
    <mat-card-title>Read message</mat-card-title>
    <mat-card-subtitle>{{ messageId }}</mat-card-subtitle>
  </mat-card-header>

  <form [formGroup]="form" (ngSubmit)="getMessage()">

    <mat-card-content>

      <mat-form-field class="w-100" appearance="outline" *ngIf="!clearMessage; else message">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Area51…" formControlName="password">
        <mat-icon matSuffix>vpn_key</mat-icon>
      </mat-form-field>

    </mat-card-content>

    <mat-card-actions class="my-0 p-0 d-flex" *ngIf="!clearMessage">
      <div class="flex-grow-1"></div>
      <button mat-raised-button type="submit" color="primary" [appSpinner]="actionSub?.closed === false" icon="lock_open">View message</button>
    </mat-card-actions>

    <app-error-card [error]="error"></app-error-card>
  </form>

</mat-card>
