mat-icon.card-header {
  font-size: 30px;
  margin-top: 5px;
  margin-left: 5px;
}

mat-icon.btn-icon {
  font-size: 1.5rem !important;
  vertical-align: top !important;
  margin-right: 4px !important;
}
