.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.position-relative {
  position: relative !important;
}

.abs-full-size {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
