@use '@angular/material' as mat;
@use "./themes/indigo-pink.scss";
@use "cursor";
@use "mat-icon";
@use "util";

@include mat.core();

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-wrapper {
  padding: 0;
}
