html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w-100 {
  width: 100% !important;
}

.mat-form-field-wrapper {
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.mat-icon.card-header {
  font-size: 30px;
  margin-top: 5px;
  margin-left: 5px;
}
