<mat-card class="mt-2 w-100">

  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon class="card-header">send</mat-icon>
    </div>
    <mat-card-title>Write message</mat-card-title>
    <mat-card-subtitle>Transmitted with RSA & encrypted with AES</mat-card-subtitle>
  </mat-card-header>

  <form [formGroup]="form" (ngSubmit)="addMessage()">

    <mat-card-content>
      <mat-form-field class="my-0 w-100" appearance="outline">
        <mat-label>Message</mat-label>
        <textarea matInput placeholder="Secret message…" rows="4" formControlName="message"></textarea>
      </mat-form-field>

      <mat-form-field class="my-0 w-100" appearance="outline">
        <mat-label>Password (Optional)</mat-label>
        <input matInput type="password" placeholder="Area51…" formControlName="password">
        <mat-icon matSuffix>vpn_key</mat-icon>
      </mat-form-field>

      <mat-card class="mt-2 w-100 info" *ngIf="url">
        <mat-card-content>
            <mat-form-field class="my-0 mr-2 py-0 w-100" appearance="outline">
              <mat-label>Message URL</mat-label>
              <input matInput type="url" [value]="url" readonly>
              <mat-icon class="cursor-pointer" matSuffix [cdkCopyToClipboard]="url" (click)="copiedToClipboard()" matTooltip="Copy to clipboard">content_copy</mat-icon>
            </mat-form-field>
        </mat-card-content>
      </mat-card>

      <app-error-card [error]="error"></app-error-card>
    </mat-card-content>

    <mat-card-actions class="my-0 p-0 d-flex">
      <div class="flex-grow-1"></div>
      <button mat-raised-button color="primary" [appSpinner]="actionSub?.closed === false" icon="mail_outline">Send it…</button>
    </mat-card-actions>

  </form>

</mat-card>
